* {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

ul {
    list-style: none;
}

body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E6AA68;
    padding: 10px;
}

header > nav > ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

header > img {
    max-height: 60px;
}

header nav {
    margin: 0;
}

nav > ul > li > img {
    width: 30px;
    justify-self: end;
}

section > header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
    padding: 10px;
}

section > header > h1 {
    grid-column: 2;
}

section > header > img {
    grid-column: 3;
    justify-self: end;
}
main section > ul {
    padding-left: 0%;
    list-style: none;
}

main h1 {
    padding: 10px;
}

form {
    width: 100%;
}

form ul {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main ul > li {
    width: 100%;
    margin-bottom: 15px;
}

form ul li:nth-child(2n) {
    text-align: end;
}

form footer {
    display: flex;
    flex-direction: column;
    align-items: end;
}

form footer input {
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 0;
    color: #ffffff;
    background-color: #A72925;
    border: 1px;
    border-radius: 10px;
}

hr {
    border: solid black 1px;
    width: 80%;
    margin-left: 10%;
}

section > ul {
    width: 100%;
}

section > ul > li {
    background-color: #F7E4CF;
    border-radius: 10px;
    max-width: 60%;
}

section > ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}