/* #region Book style */

* {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

main {
    padding: 0 8px;
}

@media screen and (min-width: 520px) {
    main>section {
        display: flex;
        flex-direction: column;
        padding: 0 20%;
    }
}

main>section>div:nth-of-type(1) {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main>section img {
    max-width: 100%;
    height: auto;
    aspect-ratio: inherit;
    border-radius: 12px;
}

main>section>ul {
    padding-left: 0;
    list-style-type: none;
}

main>section>ul>li {
    display: inline-flex;
}

main>section>ul>li>img {
    margin: 0 10px;
}

main>section>div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
}

main>section>ul:nth-of-type(2)>li>a {
    font-weight: 300;
    font-style: italic;
    color: black;
}



main article {
    background-color: rgb(247, 228, 207);
    border-radius: 12px;
    padding: 16px;
    display: flex;
    margin-bottom: 16px;
}

main article h3 {
    margin: 0;
}

main article>img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 16px;
}

/*#endregion*/

/* #region Buttons style */


/* #endregion */

/*#region Admin style*/

main section>ul {
    padding-left: 0%;
    list-style: none;
}

main h1 {
    padding: 10px;
}

hr {
    border: solid black 1px;
    width: 90%;
}

/*#endregion*/

/*#region Form style */



/*
section {
	width: 60%;
}

main ul > li {
	width: 100%;
	margin-bottom: 15px;
}

form ul li:nth-child(2n) {
	text-align: end;
}
*/

/*#endregion*/

/*#region Cards style*/

section article.card {
    min-width: 312px;
    max-width: 380px;
    background-color: #F7E4CF;
    border-radius: 10px;
}

section article.card>img {
    width: 120px;
    height: 120px;
}

body>div>form:first-child {
    background-color: #F7E4CF;
    border-radius: 10px;
    width: 308px;
}

section article.card>img {
    border-radius: 10px;
    height: 100%;
}

section article.card>div>p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    --webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

section article.card>div:nth-child(2)>ul>li {
    margin-left: 10px;
}

section article.card>img {
    width: 100px;
}

section article.card>div svg {
    width: 10px;
    height: auto;
}

/*
.collapse-card-body {
	position: absolute;
	z-index: 10; /* sopra le altre card /
	background-color: white;
	border-top: 1px solid #ddd;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
*/

/*#endregion*/

/*#region Nav style*/

nav,
nav>div>div:nth-child(5),
nav>div>div:nth-child(6) {
    background-color: #E6AA68;
}

nav ul>li {
    margin-bottom: 10px;
}

nav>div>div:nth-child(6)>div:nth-child(2)>ul>li>a,
nav>div>div:nth-child(5)>div:nth-child(2)>ul>li>a {
    color: white;
    background-color: #D9534F;
    border-radius: 12px;
}

nav>div>div:nth-child(5)>div:nth-child(2)>ul>li>a.btn,
nav>div>div:nth-child(6)>div:nth-child(2)>ul>li>a.btn {
    background-color: #F7E4CF;
    color: black;
}

main>form {
    padding: 20px 10%;
    text-align: center;
}



main>form ul {
    background-color: #F7E4CF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    list-style: none;
    width: 100%;
    padding: 10px 5%;
    margin: 0 auto;

}

main form ul li {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

main form ul li:last-child {
    margin: 15px 0;
    display: flex;
    flex-direction: row-reverse;

    text-align: center;
    vertical-align: center;
    justify-content: space-between;
}

main>form>ul>li>input[type="submit"],
main>section>div>form>input[type="submit"] {
    background-color: #A72925;
    color: white;
    padding: 10px 20px;
}


input[type="submit"] {
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

main>h2 {
    text-align: center;
}

main>form ul li label {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: left;
    cursor: pointer;
}


main>form ul li input:not([type="submit"]),
main>form ul li select,
main>form ul li textarea,
main>section>div>form>input:not([type="submit"]) {
    width: 50%;
    box-sizing: border-box;
}

main>form ul li:last-child>a {
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;

}

main>form ul li input[type="submit"],
main>form ul li:last-child>a {
    cursor: pointer;
    border-width: 0;
    width: 120px;
    height: 38px;
    border-radius: 15px;
    align-self: center;
    padding: 0;
}


main>form[action="edit-profile-action.php"] ul li>div img {
    max-width: 150px;
    border-radius: 8px;
    border: 2px solid #ddd;
    display: block;
    margin-bottom: 10px;
    float: left;
    margin-right: 20px;
}

main>form[action="edit-profile-action.php"] ul li:nth-child(5)>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
}



main section article h3 {
    color: #000000;
}

main section article h3 a {
    font-size: medium;
    color: #000000;
    text-decoration: none;
}

@media screen and (min-width: 520px) {

    main>form {
        padding: 20px 20%;

    }
}