* {
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	box-sizing: border-boz;
}

main>section {
	display: flex;
	flex-direction: column;
	padding: 0 10%;
}

@media screen and (min-width: 520px) {
	main>section {
		display: flex;
		flex-direction: column;
		padding: 0 20%;
	}
}

main>section>div:nth-of-type(1) {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

main>section img {
	max-width: 100%;
	height: auto;
	aspect-ratio: inherit;
	border-radius: 12px;
}

main>section>ul {
	padding-left: 0;
	list-style-type: none;
}

main>section>ul>li {
	display: inline-flex;
}

main>section>ul>li>img {
	margin: 0 10px;
}

main>section>div:nth-of-type(2) {
	display: flex;
	justify-content: space-between;
}

main>section input {
	color: #ffffff;
	background-color: #A72925;
	border-radius: 12px;
}

main>section>ul:nth-of-type(2)>li>a {
	font-weight: 300;
	font-style: italic;
	color: black;
}

main article {
	background-color: rgb(247, 228, 207);
	border-radius: 12px;
	padding: 16px;
	display: flex;
	margin-bottom: 16px;
}

main article h3 {
	margin: 0;
}

main article>img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 16px;
}