div.card {
    min-width: 300px;
    max-width: 380px;
    background-color: #F7E4CF;
    border-radius: 10px;
}
form {
    background-color:  #F7E4CF;
    border-radius: 10px;
    width: 308px;
}
div.card > img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
form ul  {
    list-style: none;
}
form input[type="submit"] {
   border-radius: 15px;
   width: 131px;
}

div.card-body > p.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
} 
.collapse-card-body {
    position: absolute;
    z-index: 10;    /* sopra le altre card */
    background-color: white;
    border-top: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.container-fluid > ul > li {
    margin-left: 10px;
}

.card > img {
    width: 100px;
}

.card-body svg  {
    width: 10px;
    height: auto;
}
nav, .offcanvas{
    background-color: #E6AA68;
}

ul.navbar-nav > li {
    margin-bottom: 10px;
}
.offcanvas-body > ul > li > a {
    color: white;
    background-color: #D9534F;
    border-radius: 12px;
}
.offcanvas-body > ul > li > a.btn {
    background-color: #F7E4CF;
    color: black;
}