div.card {
    min-width: 312px;
    max-width: 380px;
    flex-direction: row;
}


div.card-body > p.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
} 
.container-fluid > ul > li {
    margin-left: 10px;
}

.card > img {
    width: 100px;
}

.card-body svg  {
    width: 10px;
    height: auto;
}

.card{
    background-color: #F7E4CF;
}