/* #region Book style */

* {
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	box-sizing: border-box;
}

main>section {
	display: flex;
	flex-direction: column;
	padding: 0 10%;
}

@media screen and (min-width: 520px) {
	main>section {
		display: flex;
		flex-direction: column;
		padding: 0 20%;
	}
}

main>section>div:nth-of-type(1) {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

main>section img {
	max-width: 100%;
	height: auto;
	aspect-ratio: inherit;
	border-radius: 12px;
}

main>section>ul {
	padding-left: 0;
	list-style-type: none;
}

main>section>ul>li {
	display: inline-flex;
}

main>section>ul>li>img {
	margin: 0 10px;
}

main>section>div:nth-of-type(2) {
	display: flex;
	justify-content: space-between;
}

main>section>ul:nth-of-type(2)>li>a {
	font-weight: 300;
	font-style: italic;
	color: black;
}

main article {
	background-color: rgb(247, 228, 207);
	border-radius: 12px;
	padding: 16px;
	display: flex;
	margin-bottom: 16px;
}

main article h3 {
	margin: 0;
}

main article>img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 16px;
}

/*#endregion*/

/* #region Buttons style */

main input[type="button"],
nav>div>div>ul>li>a {
	color: #ffffff;
	background-color: #A72925;
	border-radius: 16px;
	border-width: 0;
	text-decoration: none;
	padding: 8px;
	text-align: center;
	transition: box-shadow 0.3s ease, background-color 0.1s ease;
	min-width: 130px;
	display: inline-block;
}




main input[type="button"]:hover,
nav ul>li>a:hover {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

main input[type="button"]:active,
nav ul>li>a:active {
	background-color: #7b1d19;
}

/* #endregion */

/*#region Admin style*/

main section>ul {
	padding-left: 0%;
	list-style: none;
}

main h1 {
	padding: 10px;
}

hr {
	border: solid black 1px;
	width: 90%;
}

/*#endregion*/

/*#region Form style */

form {
	width: 100%;
}

form ul {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

form footer {
	display: flex;
	flex-direction: column;
	align-items: end;
}

form footer input {
	margin-bottom: 20px;
	margin-right: 20px;
	margin-top: 0;
	color: #ffffff;
	background-color: #A72925;
	border: 1px;
}

/*
section {
	width: 60%;
}

main ul > li {
	width: 100%;
	margin-bottom: 15px;
}

form ul li:nth-child(2n) {
	text-align: end;
}
*/

/*#endregion*/

/*#region Cards style*/

section article.card {
	min-width: 300px;
	max-width: 380px;
	background-color: #F7E4CF;
	border-radius: 10px;
}

body>div>form:first-child {
	background-color: #F7E4CF;
	border-radius: 10px;
	width: 308px;
}

section article.card>img {
	border-radius: 10px;
	height: 100%;
}

section article.card>div>p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	--webkit-line-clamp: 1;
	/* number of lines to show */
	-webkit-box-orient: vertical;
}

section article.card>div:nth-child(2)>ul>li {
	margin-left: 10px;
}

section article.card>img {
	width: 100px;
}

section article.card>div svg {
	width: 10px;
	height: auto;
}

/*
.collapse-card-body {
	position: absolute;
	z-index: 10; /* sopra le altre card /
	background-color: white;
	border-top: 1px solid #ddd;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
*/

/*#endregion*/

/*#region Nav style*/

nav,
nav>div>div:nth-child(5),
nav>div>div:nth-child(6) {
	background-color: #E6AA68;
}

nav ul>li {
	margin-bottom: 10px;
}

nav>div>div:nth-child(6)>div:nth-child(2)>ul>li>a,
nav>div>div:nth-child(5)>div:nth-child(2)>ul>li>a {
	color: white;
	background-color: #D9534F;
	border-radius: 12px;
}

nav>div>div:nth-child(5)>div:nth-child(2)>ul>li>a.btn,
nav>div>div:nth-child(6)>div:nth-child(2)>ul>li>a.btn {
	background-color: #F7E4CF;
	color: black;
}

/*#endregion*/